{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<h1>Toutes nos séries :
	</h1>
	<div class="indexProgram">
		{% for program in programs %}

			<div class="card bg-light m-3" style="width: 18rem;">
				<img class="card-img-top" src="/build/images/{{program.poster}}" alt="{{ program.title }} poster">
				<div class="card-body">
					<h3 class="card-title text-white">{{ program.title }}</h3>
					<p class="card-text text-white">Catégorie :
						{{ program.category.name }}<br>Description : {{ program.synopsis }}
						<br>
						<a href="{{ path("program_show", {slug: program.slug}) }}" class="btn btn-primary bg-info">Voir la fiche</a>
					</p>
				</div>
			</div>
		{% else %}
			Aucune série trouvée.
		{% endfor %}
	</div>

{% endblock %}
