{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<div class="align-self-center">
	<div class="media">
	<h1 class="mt-0 p-5">{{ program.title }}</h1>
	<div class="d-flex">
		<div class="media-body align-self-center w-45 p-5">
			<img class="align-self-center mr-3" src="/build/images/{{program.poster}}" alt="{{ program.title }} poster">
		</div>
		<div class="media-body align-self-center w-45 p-5">
			<p>Description : {{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<h3>Acteurs :</h3>
				<ul>
					{% for actor in program.actors %}
						<li>{{ actor.name }}</li>
					{% else %}
						<li>Aucun acteur pour cette série</li>
					{% endfor %}
				</ul>
		</div>
		</div>
		<div class="media-body align-self-center w-45 p-5">
			{% for season in program.seasons %}
				<p>Année de sortie : {{ season.year }}<br>Description : {{ season.description }}</p>
				<a href="{{ path("program_season_show", { slug: program.slug, season_id: season.id }) }}" class="btn btn-primary bg-info">Plus d'infos</a>
			{% endfor %}
		</div>
	</div>
	</div>

{% endblock %}
